*{
    padding: 0;
    margin: 0;
    background-color: #1a1a1a;
}





li a{
text-decoration: none; /*Remove o sublinhado*/
font-size: 20px; /*Tamanho da fonte*/
color: #ffffff;
}

li{
    list-style: none; /*Remove formatação da lista*/

}
 #logo{
    height: 100px; /*Altura*/
    width: 180px /*Largura*/

 }
 
 ul{
display: flex; /*Indica a propriedade*/
flex-direction: row; /*colocar os elementos na horizontal ou na vertical*/

 }

